body {
    text-align: center;
}
.container{
    background: linear-gradient(#C1DBDE, white);    
}
.footer{
    background: linear-gradient(white,#FFF061);        
}
.foot{
    text-align: right;
    font-size: 22px;
    padding-right: 10px;
    color: #000F;

}
.instruction{
    color: #204A87;
    text-align: center;
    font-weight: 10;
    font-size: 22px;
    font-style: oblique;
    line-height: 0.5;
    font-family: URW Chancery L, cursive;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
